body {
    background-image: url("https://images.unsplash.com/photo-1505635552518-3448ff116af3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c3Bvb2t5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100vw;
}


.buttons {
    text-align: center;

}

#welcome-page{
    text-align: center;
}





ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    list-style: none;

    z-index: -1
}



.option {
    list-style: none;
    color:white;
    font-family: 'Sansita Swashed', cursive;

    
}

#compareAnswer{
    text-align: center;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 34em;
    z-index: 1;
    position: absolute;
}


#btn    {
    background-image: linear-gradient(to right top, #7a46a7, #4f2f5e, #5c3863, #684168, #734b6d);
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5em;
    /* border: 4px solid aquamarine    */
}

h1{
    color:white;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2em;
   
    
}

.welcome{
    font-size: 2.5em;
}


.win{
    color: white;
    size: 40px;
    text-align: center;
    border: 4px solid blueviolet
    
}

#correctAnswer{
    color:white;
    border: 4px solid blueviolet
    
}

#question-box{
    color: red;
}
