body {
    background: orange;
}

section {
    text-align: center;
    height: 100px;
}

.buttons {
    text-align: center;

}

#welcome-page{
    text-align: center;
}


.class {
    color: black;
}


.ques {
    color: black;
    list-style-type: none;
}

.option {
    list-style: none;
    color: black;
}

#compareAnswer{
    text-align: center;
}