body {
    background: orange;
}

section {
    text-align: center;
    height: 100px;
}

.buttons {
    text-align: center;

}

#test { 
    text-align: right;
    display: block;
    width: 200px;
    margin: 50px auto;
    border: 10px solid white;

}